body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00c1eb+0,284670+54,091628+100 */
    background: #00c1eb; /* Old browsers */
    background: linear-gradient(45deg, #282c34 0%, #21252b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c1eb', endColorstr='#091628',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    min-height: 100vh;
    font-family: 'Jura', sans-serif;
    color: #abb2a0;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300
}
app-login {
    height: 100vh;
    display: flex;
}

button.btn {
    border: 1px solid #2d2d2d;
    background: #212121;
    color: #fff;
    padding: 10px 33px;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background: #3b4a65;
    }
}

.btn .fa {
    margin-right: 8px;
    font-size: 1.3em;
}
