<div class="intro-to-application">
  <h1>Welcome to D.R.A.F.T.R.</h1>
  <h3>Digital Signup for Epicodus Group Week</h3>

  <p>Dratfr is a tool for code school team week.</p>
  <h4>What can you do?</h4>
  <ul>
    <li>Add your idea to the dashboard</li>
    <li>Team members sign up for group projects</li>
    <li>Auto signin ability with Google or GitHub accounts</li>
    <li>Leave comments for others' projects</li>
    <li>View other courses' group projects</li>
    <li>Sort projects by stage: idea-only, active, completed or all</li>
    <li>Like projects</li>
  </ul>
</div>
