<!-- Displays Individual Clicked Project-->
<div class="single-project-display">
  <h3>Title: {{projectToDisplay.data.title}}</h3>
  <h3>Author: {{ projectToDisplay.data.authorName}}</h3>
  <h3>Course: {{ projectToDisplay.data.course}}</h3>
  <h3>Contributors: {{ projectToDisplay.data.contributors}}</h3>
  <p>Description: {{ projectToDisplay.data.description}}</p>
</div>

<app-edit-project [selectedProject]="projectToDisplay"></app-edit-project>

<!--Display for contributor signup-->

<!-- <div *ngIf="canJoin()" class="contributors-signup">
  <button (click)="signMeUp(user.uid)" type="button" name="button">Signup</button>
</div> -->
