<!-- Displays Individual Clicked Project-->
<div class="top-bar">
    
    <div class="page-title">
        <h1>{{projectToDisplay.data.title}}</h1>
    </div>
    <div class="bar-content">
        <span>Brainchild of: {{ projectToDisplay.data.authorName}} straight outta {{ projectToDisplay.data.course }}</span>
        <app-edit-project [selectedProject]="projectToDisplay" *ngIf="canEdit && projectToDisplay.data.stage !== 'complete'"></app-edit-project>
        <button (click)="signMeUp()" *ngIf="canJoin" class="btn" name="button">Join This Project</button>
        <button (click)="deleteMe()" *ngIf="canLeave" type="button" name="button">Leave this mess. Noodle out.</button>
        <button type="button" name="button" *ngIf="canEdit && projectToDisplay.data.stage !== 'complete'" (click)="fss.deleteProject(projectToDisplay)">Delete</button>
        <button (click)="completeMe()" *ngIf="canEdit && projectToDisplay.data.stage === 'active'" type="button" name="button">Mark as complete</button>
    </div>
</div>
<div class="container">
    <div class="single-project-display" *ngIf="projectToDisplay">

        <h3 class="text-center">Contributors to this project</h3>
        <div class="meta-box contributors">
            <p *ngIf="!projectToDisplay.data.contributors">Nobody is here yet! if you are not already part of a project and you like this, Join the project by clicking the join button.<br> The project will then become active</p>
            <div class="" *ngFor="let member of projectToDisplay.data.contributors">
                <div class="member-meta text center">
                    <h4> <img src="{{member.photoURL}}" width="60" alt=""> {{ member.name }}</h4>
                </div>
            </div>
        </div>
        <h3 class="text-center">Project Description</h3>
        <div class="meta-box">
            <p>{{ projectToDisplay.data.description }}</p>
        </div>
        <h3 class="text-center">Inspirational link</h3>
        <div class="meta-box">
            <p><a href="{{projectToDisplay.data.inspiration}}" target="_blank">{{projectToDisplay.data.inspiration}}</a></p>
        </div>

        <h3 class="text-center">"Im just here for the comments"</h3>
        <div class="comments meta-box">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;" *ngFor="let comment of comments | async">
              <div class="card-header">
                <span><img src="{{comment.photoUrl}}" alt="" width="50px">  {{comment.authorName}}</span>
                <span>{{comment.timeStampFormatted}}</span>
              </div>
              <div class="card-block">
                <p class="card-text">{{comment.message}}</p>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="comment-bar">
    <input type="text" name="" value="" [(ngModel)]="message" placeholder="Leave a Comment">
    <button type="button" class="btn" name="button" (click)="postComment(); message=''">Post</button>
</div>
