<img src="assets/logo.svg" style="background" width="800" alt="">
<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
  <a class="navbar-brand" routerLink="" routerLinkActive="active"><img src="assets/logo.svg" style="margin-right:15px" width="30" alt="">D.R.A.F.T.R</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="profile" routerLinkActive="active">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="projects" routerLinkActive="active">All Projects</a>
      </li>
    </ul>
  </div>
  <div class="float-right" *ngIf="auth.authenticated">
    <app-new-project></app-new-project>
    <app-logout></app-logout>
  </div>
</nav>
<div class="page-wrap">
  <router-outlet></router-outlet>
</div>
